# shellcheck disable=SC2034,SC2155,SC3011
export VULTR_API_KEY="$(op item get 'Vultr API Key' --fields=password --reveal)"
# https://docs.vultr.com/how-to-use-s3cmd-with-vultr-object-storage
FRANKENSTORAGE="$(vultr --output=json object-storage list | jq '.object_storages[] | select(.label == "frankenstorage")')"
export AWS_ACCESS_KEY_ID="$(jq --raw-output '.s3_access_key' <<< "$FRANKENSTORAGE")"
export AWS_SECRET_ACCESS_KEY="$(jq --raw-output '.s3_secret_key' <<< "$FRANKENSTORAGE")"
export KUBECONFIG="$(pwd)/secrets/frank8s.yaml"
mkdir -p secrets
vultr --output=json kubernetes list \
    | jq --raw-output '.vke_clusters[] | select(.label == "frank8s").id' \
    | xargs vultr kubernetes config \
    | base64 --decode > "$KUBECONFIG"
chmod 600 "$KUBECONFIG"
export TF_VAR_vultr_api_key="$VULTR_API_KEY"
export TF_VAR_kubeconfig="$KUBECONFIG"
