---
# https://pre-commit.com/hooks.html
repos:
  ###########
  # GENERAL #
  ###########

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        types_or: [css, html, json, markdown, yaml]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  # TODO: https://github.com/replicatedhq/dockerfilelint/issues/196
  # - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
  #   rev: v0.1.0
  #   hooks:
  #     - id: dockerfilelint
  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check

  ######
  # F# #
  ######

  - repo: local
    hooks:
      - id: fantomas
        name: dotnet fantomas
        language: system
        entry: dotnet fantomas
        types: [file]
        files: \.(fs|fsx)$

  ###########
  # PYTHON #
  ###########

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: "tests/"
        args:
          - "--ignore-missing-imports"
          - "--explicit-package-bases"
          - "--scripts-are-modules"
        additional_dependencies:
          - alembic
          - pydantic
          - types-pyyaml

  #############
  # TERRAFORM #
  #############

  - repo: local
    hooks:
      - id: tofu-fmt
        name: tofu fmt
        language: system
        entry: tofu fmt
        types: [terraform]
      - id: tofu-validate
        name: tofu validate
        language: system
        entry: tofu validate
        types: [terraform]
        pass_filenames: false

  #########
  # TESTS #
  #########

  - repo: local
    hooks:
      - id: doit-ls
        name: doit ls
        language: python
        additional_dependencies:
          - doit
        entry: doit ls
        always_run: true
        pass_filenames: false
